/*Specification*/

body {
    font-family: 'Montserrat', sans-serif;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}


/* First section */

.header {
    background-color: white;
}

.header.fixed {
    position: fixed;
    background: white;
    border-bottom: 1px solid #ababab;
}

.logo {
    width: 150px;
    border-radius: 10px;
    padding-top: 32px;

}

.menu__item {
    margin: 40px 32px;
}

.menu__item:nth-child(4) {
    margin-right: 0px;
}

.menu__item a {
    font-size: 15px;
    font-weight: 600;
    color: #005388;
    opacity: .75;
    transition: opacity .2s linear;
    text-decoration: none;

}

.menu__item a:hover {
    opacity: 1;
}

.intro {
    background: url("../img/intro_4.jpg") center no-repeat;
    background-size: cover;
    padding-top: 100px;
    height: 100%;
}

.offer__title {
    margin-top: 300px;
    margin-bottom: 55px;
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black;
}

.offer__text {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-shadow: 1px 1px 2px black;
    display: block;
    margin-bottom: 300px;
}

/* Second section */

.company {
    background-color: #F7F7F7;
}

.finance {
    margin-top: 50px;
    width: 100%;
}

.company__title {
    margin-top: 74px;
    margin-bottom: 56px;
    color: #1F26A7;
    font-size: 40px;
    font-weight: 700;
}

.company__text {
    margin-bottom: 100px;
    color: #005388;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    display: block;
}

/* Third section */

.about__company__title {
    margin-top: 70px;
    margin-bottom: 25px;
    color: #1F26A7;
    font-size: 40px;
    font-weight: 700;
}

.about__company__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

.line {
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 50px;
    border-right: 8px solid #005388;
    height: 300px;
}

.our_company {
    width: 100%;
    margin-top: 91px;
    border-radius: 20px;
    margin-bottom: 60px;
}

 /* Fourth section */

.before_start {
    background-color: #F7F7F7;
}

.before__start__title {
    margin-top: 85px;
    font-size: 40px;
    font-weight: 700;
    color: #1F26A7;
}

.before__start__item {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 290px;
    margin-top: 50px;
    border-radius: 20px;
    transition: 0.3s;
    background-color: #fff;
    text-align: center;
    vertical-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.before__start__item:first-child {
    margin-left: 0;
}

.before__start__item:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.before__start__item__title {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}

.before__start__item__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

/* Fifth section */

.features__title {
    color: #1F26A7;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.text__titles {
    margin-left: 0;
    margin-top: 0;
}

.title__1 {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.title__2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.title__3 {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.title__4 {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.one__x {
    height: 96px;
    display: block;
    margin: 0 auto 20px;
}

.two__x {
    height: 110px;
    display: block;
    margin: 20px auto;
}

.three__x {
    height: 91px;
    display: block;
    margin: 20px auto;
}

.fb-page {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.fb {
    margin-top: 20px;
    margin-bottom: 100px;
}

.fb-min {
    display: none;
}



/* Sixth section */

.offers {
    background-color: #F7F7F7;
}

.offers__title {
    margin-top: 85px;
    margin-bottom: 67px;
    color: #1F26A7;
    font-size: 40px;
    font-weight: 700;
}

.offers__img {
    border-radius: 20px;
    margin-top: 50px;
    height: 350px;
    margin-bottom: 50px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4);
}

.offers__title2 {
    color: #1F26A7;
    font-size: 25px;
    font-weight: 600;
}

.offers__text {
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.offers__text2 {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}


/* Footer section */

.footer-bs {
    background-color: #005388;
    padding: 60px 80px;
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 1.00);
}

.footer-bs .footer-brand,
.footer-bs .footer-contacts,
.footer-bs .footer-ns {
    padding: 10px 25px;
}

.footer-bs .footer-contacts,
.footer-bs .footer-ns {
    border-color: transparent;
}

.social .fa {
    color: white;
    font-size: 22px;
    padding: 10px 15px;
}
.fa-facebook {
    color: white;
    font-size: 20px;
    padding: 5px 3px;
}

.fa1 {
    color: #005388;
    font-size: 15px;
}

.fa-whatsapp {
    color: white;
    font-size: 20px;
    padding: 1px 10px;
}

.social .fa:hover {
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
}

.logo2 {
    background: white;
    border-radius: 10px;
}

.Kymp {
    border-radius: 10px;
    width: 19%;
    margin-top: 20px;
}

/* Burger */

.burger {
    display: none;
    background: none;
    cursor: pointer;
    padding: 10px 0 10px 0;
    outline: none;
    margin-top: 20px;
    margin-right: 20px;
    border: 0;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background: #9BAFE4;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;
    background: #9BAFE4;
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}

/* Media */

@media screen and (max-width: 1366px) {
    .offer__title {
        margin-top: 200px;
    }
}

@media screen and (max-width: 800px) {
    .offer__title {
        margin-top: 100px;
    }
}

@media screen and (max-width: 375px) {
    .offer__title {
        margin-top: 40px;
    }
}

@media (min-width: 768px) {
    .footer-bs .footer-contacts,
    .footer-bs .footer-social,
    .footer-bs .footer-ns {
        border-left: solid 1px rgba(255, 255, 255, 0.10);
    }
}

@media screen and (max-width: 1199px) {
    .fb-page{
        .data-width:"400";
        .data-height:"1000";
    }

    .logo {
        width: 150px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .offers__img {
        margin-top: 100px;
        height: 300px;
        margin-bottom: 50px;
    }

    .menu__item {
        margin: 40px 20px;
    }

    .menu__item a {
        font-size: 15px;
        font-weight: 600;
        color: #005388;
        opacity: .75;
        transition: opacity .2s linear;
        text-decoration: none;

    }
}

@media screen and (max-width: 991px) {

    /* First section */

    .nav {
        display: none;
    }

    .nav.show {
        display: flex;
    }

    .menuu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        width: 100%;
        text-align: right;
        background: #ffffff;
        border-radius: 10px;
    }

    .menu__item:nth-child(4) {
        margin-right: 30px;
    }

    /* Second section */

    .track {
        margin-top: 50px;
        margin-left: 0;
    }

    /* Third section */

    .line {
        height: 400px;
    }

    /* Fourth section */
    /* Fifth section */
    /* Sixth section */

    .three__x {
        margin-bottom: 0;
    }

    .text__titles {
        margin-top: 20px;
        margin-bottom: 70px;
        text-align: center;
        display: block;
    }

    /* Footer section */

    /* Burger */

    .burger {
        display: block;
        font-size: 15px;
        font-weight: 600;
        color: #CACACA;
        margin-top: 35px;
    }


}

@media screen and (max-width: 767px) {
    /* First section */

    .nav {
        display: none;
    }

    .nav.show {
        display: flex;
    }

    .menuu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        width: 100%;
        text-align: right;
        background: #ffffff;
        border-radius: 10px;
    }

    .menu__item:nth-child(4) {
        margin-right: 30px;
    }

    .offer__title {
        margin-top: 150px;
    }

    .offer__text {
        margin-bottom: 50px;
    }

    /* Second section */

    .finance {
        width: 60%;
        margin-top: 10px;
    }

    .company__title {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .company__text {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    /* Third section */

    .our_company {
        margin-top: 30px;
        width: 100%;
    }

    /* Fourth section */

    .before__start__title {
        margin-top: 60px;
    }

    /* Fifth section */

    .offers__title {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    /* Sixth section */

    .features__title {
        margin-top: 40px;
    }

    /* Footer section */

    /* Burger */

    .burger {
        display: block;
        font-size: 15px;
        font-weight: 600;
        margin-top: 40px;
    }
}

@media screen and (max-width: 575px) {
    /* First section */

    .header {
        padding-bottom: 0;
        padding-top: 0;
    }

    .header.out {
        transform: translateY(-100%);
    }

    .nav {
        display: none;
    }

    .nav.show {
        display: flex;
    }

    .menuu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        width: 100%;
        text-align: right;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .menu__item:nth-child(4) {
        margin-right: 30px;
    }

    .menu__item {
        margin: 20px;
    }

    .offer__title {
        margin-top: 10px;
        margin-bottom: 25px;
        font-size: 30px;
    }

    .offer__text {
        font-size: 15px;
        line-height: 25px;
        display: block;
        margin-bottom: 70px;
    }

    .logo {
        height: 70px;
        margin-left: 0;
        padding: 20px;
    }

    /* Second section */

    .company__title {
        margin-top: 25px;
        margin-bottom: 30px;
        color: #005388;
        font-size: 30px;
        font-weight: 700;
    }

    .track {
        margin-left: 0;
    }

    /* Third section */

    .about__company__title {
        margin-top: 40px;
    }

    .our_company {
        width: 100%;
        margin-top: 40px;
        border-radius: 20px;
        margin-bottom: 60px;
    }

    /* Fourth section */

    .before__start__title {
        font-size: 30px;
    }

    .before__start__item {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 280px;
    }

    /* Fifth section */

    .offers__img {
        margin-top: 0;
        height: 200px;
        margin-bottom: 50px;
    }

    .offers__title {
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 700;
    }

    .offers__title2 {
        font-size: 20px;
        font-weight: 600;
    }

    /* Sixth section */

    .features__title {
        font-size: 20px;
        line-height: 30px;
        margin-top: 30px;
    }

    .fb-min {
        display: block;
        margin-bottom: 30px;
    }

    .fb {
        display: none;
    }

    .one__x {
        display: block;
        margin: 20px auto;
    }

    .two__x {
        display: block;
        margin: 20px auto;
    }

    .three__x {
        display: block;
        margin: 20px auto;
    }

    .text__titles {
        margin-left: 0;
    }

    /* Footer section */

    .footer-bs .footer-brand,
    .footer-bs .footer-contacts,
    .footer-bs .footer-ns {
        padding: 10px 0;
    }

    .footer-bs {
        background-color: #005388;
        padding: 60px 40px;
        padding-bottom: 20px;
        color: rgba(255, 255, 255, 1.00);
    }

    /* Burger */

    .burger {
        display: block;
        font-size: 15px;
        font-weight: 600;
        margin-top: 30px;
    }
}

@media screen and (max-width: 414px) {
    .offer__title {
        margin-top: 120px;
    }
}

@media screen and (max-width: 375px) {
    .offer__title {
        margin-top: 100px;
    }
}

